$icomoon-font-path: "fonts" !default;

$icon-arrow_back: "\e5c4";
$icon-arrow_forward: "\e5c8";
$icon-question_answer: "\e8af";
$icon-clock-o: "\f017";
$icon-tags: "\f02c";
$icon-books: "\e920";
$icon-user: "\e971";
$icon-share: "\ea7d";
$icon-calendar: "\e900";

